<div class="container">
    <h2>Buscar libros</h2>
    <label for="key">Clave</label>
    <input type="text" placeholder="Escribe un clave de libro" [(ngModel)]="sKey" id="key" name="key">
    <button (click)="btnSearch()">Buscar</button>
    <button type=button (click)="btnClearForm()">Limpiar</button>
</div>
<div *ngIf="aBooks.length; then searchOk else searchError"></div>
<ng-template #searchOk>
    <div class="container" *ngIf="aBooks.length > 0">
        <h2>Resultado de la busqueda</h2>
        <ul>
        <li *ngFor="let book of aBooks">{{book}}</li>
        </ul>
    </div>
</ng-template>
<ng-template #searchError>
    <div class="container" *ngIf="aBooks.length > 0">
        <h2>Ningun libro coincide con tu busqueda</h2>
    </div>
</ng-template>